
	
		{{imageProfile tweet}}
		
		<div class="media-body">
			<span class="media-heading"> <strong> {{tweet.user.name}}</strong> 
				<span class='timestamp pull-right'><a class='date_created'> {{ago tweet.created_at}} </a></span> </span>
				{{headerTweet tweet}}
			</span> 
		<p>  {{parseTweet tweet.text}} + </p>
		</div>
		<div> 
		{{#if tweet.place.country}}
			<p><span> Location: </span> {{tweet.place.country}} </p>
		{{/if}}	
		</div>
		
	
